/* -------------------- Imports -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/* -------------------- Imports -------------------- */
/* -------------------- Base Styling -------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --radial-background: radial-gradient(closest-side, rgba(44,65,255,1), rgba(0,4,18,1));
    --primary-color: linear-gradient(145deg, rgba(44,65,255,1) 0%, rgba(0,163,255,1) 100%);
    --secondary-color: #000412;
    --tertiary-color: #070e26;
    --text-color: #ffffff;
}

::-webkit-scrollbar {
    width: 17px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
    border: 5px solid var(--secondary-color);
}

body {
    font-family: 'Cabin', sans-serif;
    background: var(--secondary-color);
    color: #fafafa;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    max-width: 1200px;
    max-height: 800px;
    background: none;
}

/* -------------------- Base Styling -------------------- */
/* -------------------- BlurBlob Component -------------------- */

.blobContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blob {
    position: absolute;
    top: -250px;
    left: -250px;
    aspect-ratio: 1 / 1;
    width: 500px;
    background-image: var(--radial-background);
    filter: blur(100px);
}

.blob1 {
    position: absolute;
    bottom: -500px;
    right: -500px;
    aspect-ratio: 1 / 1;
    width: 1000px;
    background-image: var(--radial-background);
    filter: blur(100px);
}

/* -------------------- BlurBlob Component -------------------- */
/* -------------------- Modal Component -------------------- */

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    visibility: hidden;
    width: 100%;
    height: 100%;
    transition: 0.25s;
    z-index: 99;
}

.backdrop.open {
    background: rgba(0,4,18, 0.50);
    visibility: visible;
    backdrop-filter: blur(5px);
}

.backdropModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
    background: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
    border-radius: 20px;
    width: calc(100% - 80px);
    max-width: 400px;
    padding: 20px;
    opacity: 0;
    transition: 0.25s;
}

.backdropModal.open {
    transform: translate(-50%, -50%) scale(1);
    opacity: 100;
}

.backdropModal .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
}

.backdropModal h1 {
    font-size: 20px;
    margin-bottom: 10px
}

.backdropModal p {
    font-size: 14px;
}

/* -------------------- Modal Component -------------------- */
/* -------------------- Menu Component -------------------- */

.menuContainer {
    position: relative;
    width: 74px;
    height: 100%;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    flex-shrink: 0;
    background: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    transition: 0.25s;
}

.menuContainer.active {
    width: 250px;
    left: 0px;
}

.menuHeader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    border-radius: 15px;
}

.menuHeader:hover {
    background: var(--primary-color);
}

.menuHeaderTitle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.menuHeaderTitle img {
    width: 30px;
    height: 30px;
}

.menuHeaderTitle p {
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
}

.menuBody {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background: none;
}

.menuBodyItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: var(--tertiary-color);
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.25s;
}

.menuBodyItems:hover {
    background: var(--primary-color);
}

.menuBodyItemsIcons {
    width: 30px;
    height: 30px;
    transition: 0.25s;
}

.menuBodyItemsIcons.active {
    width: 30px;
    height: 30px;
}

.menuBodyItems p {
    font-size: 12px;
}

/* -------------------- Menu Component -------------------- */
/* -------------------- Chat Component -------------------- */

.chatContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    border: 2px solid var(--tertiary-color);
    border-radius: 20px;
    overflow: hidden;
}

.chatHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--tertiary-color);
    align-items: center;
    padding: 20px;
    background: var(--secondary-color);
}

.chatHeaderTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.chatHeaderTitle img {
    width: 40px;
    height: 40px;
}

.chatHeaderTitle h1 {
    font-size: 20px;
    display: inline-block;
}

.chatHeaderActions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chatHeaderActions button {
    width: 40px;
    height: 40px;
    border: none;
    background: var(--primary-color);
    border-radius: 10px;
    padding-top: 3px;
    color: var(--text-color);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.chatBody {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
    padding: 20px 5px 20px 20px;
    overflow-y: scroll;
}

.chatBodyMessage {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.chatBodyMessage.bot {
    justify-content: flex-start;
}

.chatBodyMessage.user {
    justify-content: flex-end;
}

.chatBodyMessage img {
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border-radius: 10px;
    padding: 10px;
}

.chatBodyMessage p {
    padding: 20px;
    border-radius: 15px;
    background: var(--tertiary-color);
    color: var(--text-color);
    max-width: 75%;
    font-size: 14px;
    overflow: hidden;
}

.chatBodyMessage p pre {
    background: var(--secondary-color);
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    overflow-x: scroll;
}

.chatBodyMessage.user p {
    background: var(--primary-color);
}

.chatFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    border-top: 2px solid var(--tertiary-color);
}

.chatFooter form {
    position: relative;
    width: 100%;
    border: none;
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 10px;
}

.chatFooter form input {
    width: 100%;
    height: 50px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 15px;
    background: var(--tertiary-color);
    color: var(--text-color);
    font-size: 14px;
}

.chatFooter button {
    margin: auto;
    padding: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
}

/* -------------------- Chat Component -------------------- */
/* -------------------- Media Query -------------------- */

@media (max-width: 600px) {
    .container {
        top: 0px;
        left: 0px;
        transform: none;
        width: 100%;
        height: 100%;
    }

    .menuContainer {
        position: absolute;
        left: -70px;
        width: 70px;
        height: 100%;
        z-index: 9;
        border-radius: 0px;
        border: none;
        border-right: 2px solid var(--tertiary-color);
    }

    .chatContainer {
        border: none;
        border-radius: 0px;
    }
}

/* -------------------- MediaQuery -------------------- */